{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}
    <h2 class="mb-5">
        {{ conference }} Conference
    </h2>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">

            <div class="bg-light shadow border rounded-lg p-4 text-center">
                <h4 class="mb-4">
                    Crop your photo
                </h4>

                {{ form(form, {'attr': {'data-swup-form': '1'}}) }}
            </div>

        </div>
    </div>
{% endblock %}
